<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog indiviudal</title>
    <link rel="stylesheet" href="../../static/css/postindividual/postindividual.css">
</head>
<body>
    <nav class="navbar"> 
        <div class="logo"> 
            <img src="../../static/img/home/NAVbar/logo01.png" alt="Logo Mani Cursos"> 
        </div> 
        <div class="separator"></div> 
        <ul class="nav-links"> 
            <li><a href="#">HOME</a></li> 
            <li><a href="#">SOBRE</a></li> 
            <li><a href="#">CURSOS</a></li> 
            <li><a href="#">BLOG</a></li> 
            <li><a href="#">CONTATO</a></li> 
        </ul> 
    </nav> 
    <div class= "banner">
        <img src="../../static/img/postindividual/bannerinicial.png" alt="Banner">

    </div>
    <div class="headline">
      <h1 class= "titulo">Lorem Ipsum</h1>
      <p class="subtitulo">Lorem ipsum dolor sit amet. Et dolor totam aut sint quibusdam non delectus quia aut architecto.</p>

    </div>
    <div class="infos">
        <div class="infosleft">
          <label class="g1rn">Por g1 Rio Grande do Norte</label> 
          <label class="datahora">10/10/2023 - 16h48</label>
        </div>
        <div class="infosright">
         <div class="compartilhar">
            <img class="redesocialimg" src="../../static/img/postindividual/whatsapplogo.png" alt="Whatsapp imagem">
            <img class="redesocialimg" src="../../static/img/postindividual/facebooklogo.png" alt="Facebook imagem">
            <img class="redesocialimg" src="../../static/img/postindividual/compartilharlogo.png" alt="Compartilhador imagem">
            
         </div>

    </div>
       
      
    </div>
    <div class="txt">
        <p class="firstparagrafo">Lorem ipsum dolor sit amet. Ea dolorem suscipit hic dolore labore aut cupiditate commodi non quaerat architecto nam earum eveniet. Ut incidunt magnam sed tempore quia qui enim expedita et praesentium internos cum dolorem eaque.
         <br><br>
                Aut nihil sapiente nam enim corrupti est accusantium consectetur cum necessitatibus dolores et excepturi tempora est quia unde est praesentium suscipit. At corrupti commodi ex officia dolor vel maiores laborum eum placeat nobis. Sed tenetur autem ab commodi soluta aut soluta omnis eos vero officiis est praesentium quidem? Hic vitae nisi eos numquam eveniet qui laborum facere qui corrupti vero aut iure culpa et deserunt autem 33 voluptatibus blanditiis.
         <br><br> 
         Et voluptatem quis a corrupti veniam quo voluptatibus odit. Non quod quos aut suscipit maxime aut minus recusandae non dolores odio. Et tempore autem aut animi nulla est tempora sint et tempore accusamus.</p>
    <div class="meiodotexto">
        <p class="secondparagrafo">Lorem ipsum dolor sit amet. Eos sint nobis est voluptas obcaecati et reiciendis nemo est corporis incidunt in vitae odio. Aut illo sint ad inventore provident vel incidunt impedit et beatae necessitatibus? Eum doloremque esse est incidunt porro est dolorem laudantium non praesentium assumenda sed nesciunt minus et molestiae culpa? Ut impedit impedit et aliquam blanditiis est quibusdam omnis.
        
            Ut accusantium distinctio aut molestias dicta aut laboriosam sunt a accusantium quia. Qui facere rerum sit ipsum asperiores sit ipsam cupiditate! Ut rerum quo eius quibusdam ut dicta voluptatem non ducimus assumenda.</p>
        <img class="imgmeiodotexto" src="../../static/img/postindividual/fotomeiodotexto.png" alt="Imagem do texto">

    </div>
        <p class="thirdparagrafo">Lorem ipsum dolor sit amet. Ea dolorem suscipit hic dolore labore aut cupiditate commodi non quaerat architecto nam earum eveniet. Ut incidunt magnam sed tempore quia qui enim expedita et praesentium internos cum dolorem eaque.
 
            Aut nihil sapiente nam enim corrupti est accusantium consectetur cum necessitatibus dolores et excepturi tempora est quia unde est praesentium suscipit. At corrupti commodi ex officia dolor vel maiores laborum eum placeat nobis. Sed tenetur autem ab commodi soluta aut soluta omnis eos vero officiis est praesentium quidem? Hic vitae nisi eos numquam eveniet qui laborum facere qui corrupti vero aut iure culpa et deserunt autem 33 voluptatibus blanditiis.
            
            Et voluptatem quis a corrupti veniam quo voluptatibus odit. Non quod quos aut suscipit maxime aut minus recusandae non dolores odio. Et tempore autem aut animi nulla est tempora sint et tempore accusamus.</p>
        

               
        </div>
        <footer class="footer"> 
            <div class="footerLogo"> 
                <img src="../../static/img/home/NAVbar/logo01.png" alt="Logo Mani Cursos"> 
            </div> 
            <div class="blocoFooter"> 
                <div class="footer_contatos"> 
                    <ul> 
                        <li class="primeiro"><h3>Entre em contato</h3></li> 
                        <li>contato@manicursos.com.br</li> 
                        <li>+1-2345-6789</li> 
                        <li>23 Cornelia St, NY 10014, EUA</li> 
                        <li> 
                            <div class="redesSociais"> 
                                <img src="../../static/img/home/Footer/Facebook.png" alt="facebook"> 
                                <img src="../../static/img/home/Footer/Linkedin.png" alt="linkedin"> 
                                <img src="../../static/img/home/Footer/Twitter.png" alt="twitter"> 
                                <img src="../../static/img/home/Footer/Instagram.png" alt="instagram"> 
                            </div> 
                        </li> 
                    </ul> 
                </div> 
                <div class="FAQ"> 
                    <ul> 
                        <li class="primeiro"><h3>FAQ</h3></li> 
                        <li>Auctor volutpat.</li> 
                        <li>Fermentum turpis.</li> 
                        <li>Mi consequat.</li> 
                        <li>Amet venenatis.</li> 
                        <li>Convallis porttitor.</li> 
                    </ul> 
                </div> 
                <div class="centralAjuda"> 
                    <ul> 
                        <li class="primeiro"><h3>Central de Ajuda</h3></li> 
                        <li>Egestas vitae.</li> 
                        <li>Viverra lorem ac.</li> 
                        <li>Eget ac tellus.</li> 
                        <li>Erat nulla.</li> 
                        <li>Vulputate proin.</li> 
                    </ul> 
                </div> 
            </div> 
            <div class="copyright">  
            </div> 
        </footer>

</body>
</html>