<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/footer.css">
    <link rel="stylesheet" href="../../static/css/sobre/sobre.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <title>Sobre</title>
</head>
<body>
<div class="sobreGrande">
<!-- NOSSA HISTÓRIA -->
    <div class="topicos">
        <div class="imgtopicos">
            <div class="sliderSobre">
                <img src="../../static/img/sobre/Nossa_História/NH01.png" class="fNossaHistoria" alt="Slide 1">
                <img src="../../static/img/sobre/Nossa_História/NH02.jpg" class="fNossaHistoria" alt="Slide 2">
                <img src="../../static/img/sobre/Nossa_História/NH03.jpg" class="fNossaHistoria" alt="Slide 3">
                <div class="bolas">
                    <span class="bolaH"></span>
                    <span class="bolaH"></span>
                    <span class="bolaH"></span>
                </div>
            </div>
        </div>

        <div class="txttopicos">
            <h1 class="tittopicos">Nossa <span class="destacada">História</span></h1>

            <p class="stittopicos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore.
            </p>
        </div>
    </div>

<!-- FIM NOSSA HISTÓRIA -->
<!-- NOSSOS VALORES -->

    <div class="topicos">
        <div class="txttopicos">
            <h1 class="tittopicos">Nossos <span class="destacada">Valores</span></h1>

            <p class="stittopicos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore.
            </p>
        </div>
        <div class="imgtopicos">
            <div class="sliderSobre">
                <img src="../../static/img/sobre/Nossos_Valores/NV01.png" class="fNossosValores" alt="Slide 1">
                <img src="../../static/img/sobre/Nossos_Valores/NV02.jpg" class="fNossosValores" alt="Slide 2">
                <img src="../../static/img/sobre/Nossos_Valores/NV03.jpg" class="fNossosValores" alt="Slide 3">
                <div class="bolas">
                    <span class="bolaV"></span>
                    <span class="bolaV"></span>
                    <span class="bolaV"></span>
                </div>
            </div>
        </div>
        <script src="../../static/js/sobre/SliderSobre.js"></script>
    </div>

<!-- FIM NOSSOS VALORES -->
<!-- PRINCIPAL -->

    <div id="principal">
        <div id="tprincipal">
            <h1 id="txtprincipal"><span class="destacada">Os melhores</span> professores do mercado </h1>
        </div>
        <div id="stprincipal">  
            <p id="stxtprincipal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sapien, est felis, sagittis viverra nulla mattis scelerisque. Eget 
            cras integer.</p>
        </div>
        <a href="#equipe"><button class="btnNossaEquipe" type="button" href="#equipe">NOSSA EQUIPE
            <div class="arrowbtn">
                <label class="arrow">&rarr;</label>
            </div>
        </button></a>
    </div>

<!-- FIM PRINCIPAL -->
<!-- NOSSA EQUIPE -->

    <div class="equipe" id="equipe">
        <div class="titulo">
            <h2>Nossa Equipe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse sed scelerisque elit. Sed eget tincidunt augue, nec 
            tempus tellus. Quisque quis felis in felis posuere interdum.</p>
        </div>
        <div class="professores">
            <div class="membro">
                <div class="imgperfil">
                    <div class="perfil" style="background-image: url(../../static/img/sobre/Professores/professor01.png); background-position: center calc(70%);"></div>
                </div>
                <div class="textos">
                    <h3 class="nome">Giovane Amorim</h3>
                    <p class="formacao">MESTRE EM BIOLOGIA MOLECULAR</p>
                    <p class="descricao">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. </p>
                </div>
            </div>
            <div class="membro">
                <div class="imgperfil">
                    <div class="perfil" style="background-image: url(../../static/img/sobre/Professores/professor02.png); background-position: center calc(30%);"></div>
                </div>
                <div class="textos">
                    <h3 class="nome">Cristina Siqueira</h3>
                    <p class="formacao">DOUTORA EM CONSTRUÇÕES SUSTENTÁVEIS</p>
                    <p class="descricao">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. </p>
                </div>
            </div>
            <div class="membro">
                <div class="imgperfil">
                    <div class="perfil" style="background-image: url(../../static/img/sobre/Professores/professor03.png); background-position: center calc(15%); width: 150%;"></div>
                </div>
                <div class="textos">
                    <h3 class="nome">Juliano Cavalanti</h3>
                    <p class="formacao">DOUTOR EM FARMACOLOGIA MÉDICA</p>
                    <p class="descricao">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. </p>
                </div>
            </div>
            <div class="membro">
                <div class="imgperfil">
                    <div class="perfil" style="background-image: url(../../static/img/sobre/Professores/professor04.png); background-position: center calc(45%); width: 150%;"></div>
                </div>
                <div class="textos">
                    <h3 class="nome">Kiara Xiao</h3>
                    <p class="formacao">MESTRE EM BIOFÍSICA</p>
                    <p class="descricao">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. </p>
                </div>
            </div>
        </div>
    </div>

<!-- FIM NOSSA EQUIPE -->
</div>

<div class="sobrePequena">
    <!-- NOSSA HISTÓRIA -->
    <div class="topicos">
        <div class="txttopicos">
            <h1 class="tittopicos">Nossa <span class="destacada">História</span></h1>
        </div>
        <div class="imgtopicos">
            <div class="sliderSobre">
                <img src="../../static/img/sobre/Nossa_História/NH01.png" class="fNossaHistoria" alt="Slide 1">
                <img src="../../static/img/sobre/Nossa_História/NH02.jpg" class="fNossaHistoria" alt="Slide 2">
                <img src="../../static/img/sobre/Nossa_História/NH03.jpg" class="fNossaHistoria" alt="Slide 3">
                <div class="bolas">
                    <span class="bolaH"></span>
                    <span class="bolaH"></span>
                    <span class="bolaH"></span>
                </div>
            </div>
        </div>
        <script src="../../static/js/sobre/SliderSobre.js"></script>
        
        <div class="txttopicos">
            <p class="stittopicos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore.
            </p>
        </div>
    </div>

<!-- NOSSOS VALORES -->
    <div class="topicos">
        <div class="txttopicos">
            <h1 class="tittopicos">Nossos <span class="destacada">Valores</span></h1>
        </div>
        <div class="imgtopicos">
            <div class="sliderSobre">
                <img src="../../static/img/sobre/Nossos_Valores/NV01.png" class="fNossosValores" alt="Slide 1">
                <img src="../../static/img/sobre/Nossos_Valores/NV02.jpg" class="fNossosValores" alt="Slide 2">
                <img src="../../static/img/sobre/Nossos_Valores/NV03.jpg" class="fNossosValores" alt="Slide 3">
                <div class="bolas">
                    <span class="bolaV"></span>
                    <span class="bolaV"></span>
                    <span class="bolaV"></span>
                </div>
            </div>
        </div>
        <script src="../../static/js/sobre/SliderSobre.js"></script>
        
        <div class="txttopicos">
            <p class="stittopicos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore.
            </p>
        </div>
    </div>

<!-- PRINCIPAL -->
    <div id="principal">
        <div id="tprincipal">
            <h1 id="txtprincipal"><span class="destacada">Os melhores</span> professores do mercado </h1>
        </div>
        <div id="stprincipal">  
            <p id="stxtprincipal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sapien, est felis, sagittis viverra nulla mattis scelerisque. Eget 
            cras integer.</p>
        </div>
        <a href="#equipe"><button class="btnNossaEquipe" type="button" href="#equipe">
            <div class="arrowbtn">
                <label class="arrow">&rarr;</label>
            </div>
            NOSSA EQUIPE
        </button>
        </a>
    </div>

<!-- NOSSA EQUIPE -->
    <div class="equipe" id="equipe">
        <div class="titulo">
            <h1>Nossa <span class="destacada">equipe</span></h1>
        </div>
        <div>
            <div class="professores">
                <div class="membro" id="membro1">
                    <div class="botao-anterior">&#10094;</div>
                    <div class="imgperfil">
                        <div class="perfil" style="background-image: url(../../static/img/sobre/Professores/professor02.png); background-position: center calc(30%);">
                        </div>
                    </div>
                    <div class="botao-proximo">&#10095;</div>
                    <div class="textos">
                        <h3 class="nome">Cristina Siqueira</h3>
                        <p class="formacao">DOUTORA EM CONSTRUÇÕES SUSTENTÁVEIS</p>
                        <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>