<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TESTE</title>
  <link rel="stylesheet" href="style.css">
  <script src="../../static/js/sobre/CarrosselSobre.js" defer></script>
</head>
<body>
  <div class="cursosPopulares">
      <label class="cabeçalho">Cursos mais <span class="sublinhado" id="cabeçalho">populares</span></label>
      <div class="carrossel">
          <div class="cards">
              <!--Card Engenharia da Computação-->
              <div class="cardCurso">
                  <div class="cardupper">
                      <img src="img/cursosmaispopulares/engenhariaComp.png" class="cursosImg">
                  </div>
                  <div class="cardlower">
                      <div class="dadosgerais">
                          <label class="cursoName">Engenharia da Comp...</label>
                          <img src="../../static/img/home/icones/estrela.png" class="estrelaImg">
                          <label class="notaAvaliação">(4.7)</label>
                      </div>
                      <label class="dadosCargaHoraria">Superior - 45h semanais - Semipresencial</label>
                      <p class="descricaoCurso">Lorem ipsum dolor sit amet consectetur. Montes ut nascetur arcu in nisi turpis. Ut tempor egestas ornare donec sed. Volutpat nunc diam varius.</p>
                      <div class="verMais">
                          <div class="preco">
                              <label class="parcelado">24x de R$ 410,90</label>
                              <label class="avista">ou R$ 8,880 à vista</label>
                          </div>
                          <button class="verMaisBtn">Ver Mais</button>
                      </div>
                  </div>
              </div>
              <!--Card Enfermagem-->
              <div class="cardCurso">
                  <div class="cardupper">
                      <img src="img/cursosmaispopulares/enfermagem.png" class="cursosImg">
                  </div>
                  <div class="cardlower">
                      <div class="dadosgerais">
                          <label class="cursoName">Enfermagem</label>
                          <img src="../../static/img/home/icones/estrela.png" class="estrelaImg">
                          <label class="notaAvaliação">(4.4)</label>
                      </div>
                      <label class="dadosCargaHoraria">Superior - 45h semanais - Presencial</label>
                      <p class="descricaoCurso">Lorem ipsum dolor sit amet consectetur. Montes ut nascetur arcu in nisi turpis. Ut tempor egestas ornare donec sed. Volutpat nunc diam varius.</p>
                      <div class="verMais">
                          <div class="preco">
                              <label class="parcelado">24x de R$ 469,90</label>
                              <label class="avista">ou R$ 10,150 à vista</label>
                          </div>
                          <button class="verMaisBtn">Ver Mais</button>
                      </div>
                  </div>
              </div>
              <!--Card Design Gráfico-->
              <div class="cardCurso">
                  <div class="cardupper">
                      <img src="img/cursosmaispopulares/designgrafico.png" class="cursosImg">
                  </div>
                  <div class="cardlower">
                      <div class="dadosgerais">
                          <label class="cursoName">Design Gráfico</label>
                          <img src="../../static/img/home/icones/estrela.png" class="estrelaImg">
                          <label class="notaAvaliação">(4.6)</label>
                      </div>
                      <label class="dadosCargaHoraria">Técnico - 30h semanais - Online</label>
                      <p class="descricaoCurso">Lorem ipsum dolor sit amet consectetur. Montes ut nascetur arcu in nisi turpis. Ut tempor egestas ornare donec sed. Volutpat nunc diam varius.</p>
                      <div class="verMais">
                          <div class="preco">
                              <label class="parcelado">24x de R$ 112,90</label>
                              <label class="avista">ou R$ 2,440 à vista</label>
                          </div>
                          <button class="verMaisBtn">Ver Mais</button>
                      </div>
                  </div>
              </div>
          </div>
          <button class="setaCarrosselMobile" id="setaCarrosselMobileEsquerda">&lt;</button>
          <button class="setaCarrosselMobile" id="setaCarrosselMobileDireita">&gt;</button>
      </div>
  </div>


  
</body>
</html>