<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mani</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/home/home.css">
    <script src="../../static/js/home/home.js" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../../static/img/home/NAVbar/logo01.png" alt="Logo Mani Cursos">
        </div>
        <div class="separator"></div>
        <ul class="nav-links">
            <li><a href="#">HOME</a></li>
            <li><a href="#">SOBRE</a></li>
            <li><a href="#">CURSOS</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CONTATO</a></li>
        </ul>
    </nav>
    <div class="geral">
        <div class="firstsectionMobile">
            <div class="headlineHome">
                <div class="circle" id="gray"></div>
                <div class="circle" id="orange1"></div>
                <div class="circle" id="orange2"></div>
                <div class="circle" id="bordercircle"></div>
                <div class="circle" id="gray2"></div>
                <label class="descricao1">Bem vindo a educação <span class="sublinhado" id="sublinhadooff">Mani</span> de <span class="trocacor">qualidade</span></label>
                <label class="descricao2">Com a Mani cursos você pode ficar tranquilo, seu futuro está em boas mãos.</label>
                <div class="explorarCursos">
                    <button class="btnExplorarCursos"><div class="arrowbtn"><label class="arrow">&rarr;</label></div>EXPLORAR CURSOS</button>
                    <div class="miniaturaAlunos">
                        <div class="imgAlunos">
                            <img src="../../static/img/home/botaoexplorarcursos/minialuno1.png" class="miniaturaAluno">
                            <img src="../../static/img/home/botaoexplorarcursos/minialuno2.png" class="miniaturaAluno2">
                            <img src="../../static/img/home/botaoexplorarcursos/minialuno3.png" class="miniaturaAluno2">
                            <div class="somaIcon"><img src="../../static/img/home/icones/soma.png" class="iconesomaImg"></div>
                        </div>
                        <label class="alunosAgora">78.926 alunos estudando agora</label>
                    </div>
                </div>
                <div class="circle" id="bordercircle2"></div>
                <div class="circle" id="orange3"></div>
            </div>
            <div class="painelFotosInicial">
                <div class="fileira" id="fileira1">
                    <img src="../../static/img/home/painelFotosInicial/banner1.png" class="banner" id="bannerMobile">
                    <img src="../../static/img/home/painelFotosInicial/banner2.png" class="banner2" id="bannerMobile">
                    <img src="../../static/img/home/painelFotosInicial/banner3.png" class="banner2" id="bannerMobile2">
                </div>
                <div class="fileira" id="fileira2">
                    <img src="../../static/img/home/painelFotosInicial/banner3.png" class="bannerespecial">
                    <img src="../../static/img/home/painelFotosInicial/banner4.png" class="banner2">
                </div>
                <div class="fileira" id="fileira2">
                    <img src="../../static/img/home/painelFotosInicial/banner5.png" class="banner">
                    <img src="../../static/img/home/painelFotosInicial/banner6.png" class="banner2">
                </div>
                <img src="../../static/img/home/icones/bolapontinhos.png" class="bolaPontinhos">
            </div>
            <!--Cursos mais populares-->
            <div class="cursosPopulares">
                <label class="cabeçalho">Cursos mais <span class="sublinhado" id="cabeçalho">populares</span></label>
                <div class="cards">
                    <!--Card Engenharia da Computação-->
                    <div class="cardCurso">
                        <button class="setaCarrosselMobile" id="setaCarrosselMobileEsquerda">&lt;</button>
                        <div class="cardupper">
                            <img src="../../static/img/home/cursosmaispopulares/engenhariaComp.png" class="cursosImg">
                        </div>
                        <div class="cardlower">
                            <div class="dadosgerais">
                                <label class="cursoName">Engenharia da Comp...</label>
                                <img src="../../static/img/home/icones/estrela.png" class="estrelaImg">
                                <label class="notaAvaliação">(4.7)</label>
                            </div>
                            <label class="dadosCargaHoraria">Superior - 45h semanais - Semipresencial</label>
                            <p class="descricaoCurso">Lorem ipsum dolor sit amet consectetur. Montes ut nascetur arcu in nisi turpis. Ut tempor egestas ornare donec sed. Volutpat nunc diam varius.</p>
                            <div class="verMais">
                                <div class="preco">
                                    <label class="parcelado">24x de R$ 410,90</label>
                                    <label class="avista">ou R$ 8,880 à vista</label>
                                </div>
                                <button class="verMaisBtn">Ver Mais</button>
                            </div>
                        </div>
                        <button class="setaCarrosselMobile" id="setaCarrosselMobileDireita">&gt;</button>
                    </div>
                    <!--Card Enfermagem-->
                    <div class="cardCurso" id="mobileNone">
                        <div class="cardupper">
                            <img src="../../static/img/home/cursosmaispopulares/enfermagem.png" class="cursosImg">
                        </div>
                        <div class="cardlower">
                            <div class="dadosgerais">
                                <label class="cursoName">Enfermagem</label>
                                <img src="../../static/img/home/icones/estrela.png" class="estrelaImg">
                                <label class="notaAvaliação">(4.4)</label>
                            </div>
                            <label class="dadosCargaHoraria">Superior - 45h semanais - Presencial</label>
                            <p class="descricaoCurso">Lorem ipsum dolor sit amet consectetur. Montes ut nascetur arcu in nisi turpis. Ut tempor egestas ornare donec sed. Volutpat nunc diam varius.</p>
                            <div class="verMais">
                                <div class="preco">
                                    <label class="parcelado">24x de R$ 469,90</label>
                                    <label class="avista">ou R$ 10,150 à vista</label>
                                </div>
                                <button class="verMaisBtn">Ver Mais</button>
                            </div>
                        </div>
                    </div>
                    <!--Card Design Gráfico-->
                    <div class="cardCurso" id="mobileNone">
                        <div class="cardupper">
                            <img src="../../static/img/home/cursosmaispopulares/designgrafico.png" class="cursosImg">
                        </div>
                        <div class="cardlower">
                            <div class="dadosgerais">
                                <label class="cursoName">Design Gráfico</label>
                                <img src="../../static/img/home/icones/estrela.png" class="estrelaImg">
                                <label class="notaAvaliação">(4.6)</label>
                            </div>
                            <label class="dadosCargaHoraria">Técnico - 30h semanais - Online</label>
                            <p class="descricaoCurso">Lorem ipsum dolor sit amet consectetur. Montes ut nascetur arcu in nisi turpis. Ut tempor egestas ornare donec sed. Volutpat nunc diam varius.</p>
                            <div class="verMais">
                                <div class="preco">
                                    <label class="parcelado">24x de R$ 112,90</label>
                                    <label class="avista">ou R$ 2,440 à vista</label>
                                </div>
                                <button class="verMaisBtn">Ver Mais</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            <!--Nossa História-->
            <div class="nossaHistoriaSection">
                <div class="carrossel">
                  <img src="../../static/img/home/nossaHistoria/nossaHistoriaImg.png" class="nossaHistoriaImg" alt="Slide 1">
                  <img src="../../static/img/home/painelFotosInicial/banner3.png" class="nossaHistoriaImg" alt="Slide 2">
                  <img src="../../static/img/home/nossaHistoria/carrossel3.png" class="nossaHistoriaImg" alt="Slide 3">
                </div>
                  <div class="nossaHistoriaTexto">
                      <label class="cabeçalho" id="cabeçalhoNossaHistoriaMobile">Nossa <span class="sublinhado" id="cabeçalho">história</span></label>
                      <p class="nossaHistoriaDescricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                  </div>
              </div>
            <!--Quem já foi aluno aprova-->
            <div class="quemFoiAlunoAprovaSection">
                <label class="cabeçalho" id="cabeçalhoQuemfoiAluno">Quem já foi aluno <span class="trocacor" id="spanQuemfoiAlunoaprova">aprova!</span></label>
                <div class="alunosCardsRow">
                    <button class="setaCarrosselMobile" id="setaCarrosselMobileEsquerda2">&lt;</button>
                    <div class="cardAluno">
                        <div class="dadosPessoais">
                            <label class="nomeAluno">Maria Luiza Queiroz</label>
                            <label class="cursoAno">Designer Gráfica (2020 - 2024)</label>
                            <label class="descricaoAluno">“Lorem ipsum dolor sit amet consectetur. Id nunc ultrices eget risus at accumsan. Urna.”</label>
                        </div>
                    </div>
                    <div class="cardAluno" id="aluno2">
                        <div class="dadosPessoais">
                            <label class="nomeAluno">Matheus Figueira</label>
                            <label class="cursoAno">Engenheiro da Computação (2015 - 2020)</label>
                            <label class="descricaoAluno">“Lorem ipsum dolor sit amet consectetur. Id nunc ultrices eget risus at accumsan. Urna.”</label>
                        </div>
                    </div>
                    <div class="cardAluno" id="aluno3">
                        <div class="dadosPessoais">
                            <label class="nomeAluno">Annelise de Lima</label>
                            <label class="cursoAno">Biomédica (2014 - 2018)</label>
                            <label class="descricaoAluno">“Lorem ipsum dolor sit amet consectetur. Id nunc ultrices eget risus at accumsan. Urna.”</label>
                        </div>
                    </div>
                    <button class="setaCarrosselMobile" id="setaCarrosselMobileDireita2">&gt;</button>
                    <div class="cardAluno" id="aluno4">
                        <div class="dadosPessoais">
                            <label class="nomeAluno">Maria Clara Dias</label>
                            <label class="cursoAno">Bacharel em História (2012 - 2016)</label>
                            <label class="descricaoAluno">“Lorem ipsum dolor sit amet consectetur. Id nunc ultrices eget risus at accumsan. Urna.”</label>
                        </div>
                    </div>
                    <div class="cardAluno" id="aluno5">
                        <div class="dadosPessoais">
                            <label class="nomeAluno">João Maria</label>
                            <label class="cursoAno">Bacharel em Ecologia (2014 - 2018)</label>
                            <label class="descricaoAluno">“Lorem ipsum dolor sit amet consectetur. Id nunc ultrices eget risus at accumsan. Urna.”</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footerLogo">
                <img src="../../static/img/home/NAVbar/logo01.png" alt="Logo Mani Cursos">
            </div>
            <div class="blocoFooter">
                <div class="footer_contatos">
                    <ul>
                        <li class="primeiro"><h3>Entre em contato</h3></li>
                        <li>contato@manicursos.com.br</li>
                        <li>+1-2345-6789</li>
                        <li>23 Cornelia St, NY 10014, EUA</li>
                        <li>
                            <div class="redesSociais">
                                <img src="../../static/img/home/Footer/Facebook.png" alt="facebook">
                                <img src="../../static/img/home/Footer/Linkedin.png" alt="linkedin">
                                <img src="../../static/img/home/Footer/Twitter.png" alt="twitter">
                                <img src="../../static/img/home/Footer/Instagram.png" alt="instagram">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="FAQ">
                    <ul>
                        <li class="primeiro"><h3>FAQ</h3></li>
                        <li>Auctor volutpat.</li>
                        <li>Fermentum turpis.</li>
                        <li>Mi consequat.</li>
                        <li>Amet venenatis.</li>
                        <li>Convallis porttitor.</li>
                    </ul>
                </div>
                <div class="centralAjuda">
                    <ul>
                        <li class="primeiro"><h3>Central de Ajuda</h3></li>
                        <li>Egestas vitae.</li>
                        <li>Viverra lorem ac.</li>
                        <li>Eget ac tellus.</li>
                        <li>Erat nulla.</li>
                        <li>Vulputate proin.</li>
                    </ul>
                </div>
            </div>
            <div class="copyright"> 
                Copyright © 2023. All rights reserved.
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>   
</body>
</html>