@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    margin: 0;
}
.sobreGrande{
    display: block;
}
.sobrePequena{
    display: none;
}
/* TÓPICOS */
.tittopicos{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #262626;
    line-height: 62.5px
}

.stittopicos{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #262626;
}

.destacada{
    position: relative;
}

.destacada::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 5px;
    background-color: #F97B22;
}

.sliderSobre{
    width: 575px;
    height: 297px;
    overflow: hidden;
    position: relative;
}
  
.imgtopicos{
    width: 100%;
    height: 297px;
    display: flex;
}
  
.fNossaHistoria, .fNossosValores {
    width: 100%;
    height: 297px;
    border-radius: 35px;
    position: absolute;
    transition: transform 0.5s ease;
}

.bolas {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.bolaH, .bolaV {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E1E5EE;
    margin: 0 5px;
}

.txttopicos{
    margin: 0 40px 0 40px;
}

.topicos{
    display: flex;
    margin: 50px 98px 50px 71px;
    width: 85.4%;
}

/* PRINCIPAL */
#principal{
    background-image: url(../../img/sobre/NossaEquipe.jpg);
    height: 350px;
    background-size: cover;
    background-position: center top;
    position: relative;
    color: #F1F1F1;
    padding: 110px 0 162px 84px;
    border-radius: 35px;
    margin: 80px 96px 130px 71px;
}

#principal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    border-radius: 35px;
    z-index: 1;
}

#tprincipal, #stprincipal, #btnNossaEquipe, .btnNossaEquipe{
    position: relative;
    z-index: 2;
    color: #F1F1F1;
}

#txtprincipal, #stxtprincipal{
    color: #F1F1F1;
    position: relative;
    z-index: 2;
}

#txtprincipal{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -2%;
    margin: 0 300px 0 0;
}

#stxtprincipal{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    margin: 15px 490px 20px 0;
}

.btnNossaEquipe{
    width: 184.35px;
    height: 40px;
    border-radius: 80px;
    background-color: #F97B22;
    border: 1px solid #F97B22;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.075em;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 7px 0 7px;
    margin-bottom: 162px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}

.arrowbtn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 0px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 7px;
}

.arrow{
    width: 14px;
    height: 9px;
    color: white;
    display: flex;
    align-items: center;
}

/* NOSSA EQUIPE */
.equipe {
    background-color: #F97B22;
    height: 803px;
    border-radius: 300px 300px 0 0;
    padding-top: 60px;
}

.titulo h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: 700;
    line-height: 73.14px;
}

.titulo p {
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-size: 27px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: white;
}

.titulo{
    margin: 0 230px 90px 230px;
    text-align: center;
}

.professores{
    height: 344px;
    border-radius: 20px 20px 0px 0px;
    margin: 0 65px 105px 65px;
    display: flex;
    align-items: center;
}

.membro {
    width: 290px;
    height: 344px;
    border-radius: 20px 20px 0px 0px;
    margin: 10px;
}

.imgperfil {
    width: 290px;
    height: 207.51px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    position: relative;
}

.perfil {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.nome{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: white;
    width: 290px;
    height: 22px;
    margin: 15.49px 0 5px 0;
}

.formacao{
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: white;
    width: 290px;
    height: 20px;
    margin-bottom: 30px;
}

.descricao{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: white;
    width: 290px;
    height: 44px;
}
.textos{
    width: 290px;
    height: 137.49px
}
@media screen and (max-width:1298px){
    .professores{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .equipe{
        height: 1200px;
        max-width: 1298px;
    }
}

/* FIM DO CSS DESKTOP */

/* CSS MOBILE */

@media only screen and (max-width: 1023px){

    .sobreGrande{
        display: none;
    }
    .sobrePequena{
        display: block;
    }
    body{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    /*INÍCIO DOS TÓPICOS*/
    .tittopicos{
        color: #262626;
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 600;
        line-height: 29.26px;
        text-align: left;
        margin: 25px 0;
    }

    .stittopicos{
        font-family: 'Montserrat';
        font-weight: 400;
        color: #262626;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        margin: 25px 0;
    }

    .destacada{
        position: relative;
    }

    .destacada::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 3px;
        background-color: #F97B22;
    }

    .sliderSobre{
        width: 100%;
        height: 168px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        margin: 0 29px 0 29px;
    }
    
    .imgtopicos{
        width: 100%;
        height: 168px;
        display: flex;
    }
    
    .fNossaHistoria, .fNossosValores {
        height: 168px;
        border-radius: 15px;
        position: absolute;
        transition: transform 0.5s ease;
        width: 100%;
    }

    .bolas {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .bolaH, .bolaV {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #E1E5EE;
        margin: 0 3.75px;
    }

    .txttopicos{
        margin: 0 29px 0 29px;
    }

    .topicos{
        max-width: 1023px;
        display: flex;
        flex-direction: column;
        margin: 0 8% 3% 8%;
    }

    /*FIM DOS TÓPICOS*/

    /*INÍCIO DO PRINCIPAL*/

    #principal{
        background-image: url(../../img/sobre/NossaEquipe.jpg);
        background-size: cover;
        background-position: right top;
        position: relative;
        color: #F1F1F1;
        border-radius: 30px;
        margin: 0 29px 0 29px;
        padding: 25% 6%;
        height: 16%;
    }

    #principal::before {
        content: "";
        position: absolute;
        top: 0; /*Garante que a parte escura esteja "presa" na parte de cima*/
        left: 0; /*Garante que a parte escura esteja "presa" à esquerda*/
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
        border-radius: 30px;
        z-index: 1;
    }

    #tprincipal, #stprincipal, .btnNossaEquipe, #txtprincipal, #stxtprincipal{
        position: relative;
        z-index: 2;
        color: #F1F1F1;
    }

    #txtprincipal{
        letter-spacing: -2%;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin: 0 8px 10px 0;
    }

    #stxtprincipal{
        font-family: 'Montserrat';
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        text-align: left;
        margin: 0 0 15px 0;
    }

    .btnNossaEquipe{
        border-radius: 80px;
        background-color: #F97B22;
        border: 1px solid #F97B22;
        letter-spacing: 0.075em;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        text-align: left;
        padding: 5px 7px 5px 7px;
        margin: 0;
    }
    a{
        text-decoration: none;
        color: white;
    }

    .arrowbtn{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .arrow{
        width: 8px;
        height: 5px;
        color: white;
        display: flex;
        align-items: center;
    }

    /*FIM DO PRINCIPAL*/

    /* INÍCIO DO NOSSA EQUIPE */
    .equipe {
        background-color: white;
        width: 90%;
        margin: 0 5% 15px 5%;
        height: 21%;
    }

    .titulo{
        margin: 0;
    }
    
    .titulo h1{
        color:#262626;
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 600;
        line-height: 29.26px;
        text-align: left;
    }
    
    .professores{
        border-radius: 0;
        display: flex;
        align-items: center;
        margin: 0;
    }
    
    .membro {
        width: 94%;
        height: 100%;
        border-radius: 15px;
        position: relative; /* Adicionado para posicionamento dos botões */
        margin: 0 3% 0 3%;
    }
    
    .imgperfil {
        width: 100%;
        height: 55%;
        border-radius: 10%;
        overflow: hidden;
        position: relative;
    }
    
    .perfil {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 0;
    }
    
    .nome{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        color: white;
        height: 22px;
        margin: 15.49px 0 5px 0;
        color: #262626;
    }
    
    .formacao{
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: white;
        height: 20px;
        margin: 0 0 15px 0;
        color: #262626;
    }
    
    .descricao{
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: white;
        height: 44px;
        color: #262626;
        margin: 0;
    }
    
    .botao-anterior,
    .botao-proximo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px; /* Ajuste conforme necessário */
        height: 30px; /* Ajuste conforme necessário */
        background-color: #F97B22; /* Cor do fundo */
        border: none;
        border-radius: 50%;
        color: white; /* Cor do ícone */
        font-size: 20px; /* Tamanho do ícone */
        cursor: pointer;
        z-index: 2;
    }
    
    .botao-anterior {
        left: -10px;
    }
    
    .botao-proximo {
        right: -10px;
    }
}