<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/footer.css">
    <link rel="stylesheet" href="../../static/css/blog/blog.css">
    <title>Blog</title>
</head>
<body>
<!-- CABEÇALHO E CAMPO DE BUSCA -->

<div class="cabecalho">
    <h1>Últimas Notícias</h1>
    <p>Est recusandae fugit qui quia voluptas ut ratione
        iusto aut accusamus voluptatem.</p>
</div>

<form action="{% url 'buscar_noticia' %}">
    <div class="campoDeBusca">
        <input type="text" placeholder="Buscar cursos" name="buscar">
        <img src="../../static/img/Icons/Lupa.png" alt="" >
        <button type="submit"></button>
    </div>
</form>

<!-- POSTS -->
<!--Fileira 1-->
<div class="fileira">
    <div class="post">
        <div class="upper">
            <img src="../../static/img/blog/Posts/Post01.png" alt="Imagem Post1">
        </div>
        <div class="lower">
            <h3 id="titulo">Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
            <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad 
                repudiandae autem et magni officiis aut facere tempore nam 
                eligendi quod ut voluptatem iure ut voluptas eveniet.’
            </p>
                <div class="rodapePost">
                    <div class="rodapeLeft">
                        <img src="../../static/img/Icons/Coração.png" alt="imagem Coração">
                        <p>10 de Outubro de 2023</p>
                    </div>
                    <a href="#">Ler mais</a>
                </div>
        </div>
    </div>
    <div class="post" id="post2">
        <div class="upper">
            <img src="../../static/img/blog/Posts/Post02.png" alt="Imagem Post">
        </div>
        <div class="lower">
            <h3 id="titulo">Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
            <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad 
                repudiandae autem et magni officiis aut facere tempore nam 
                eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                <div class="rodapePost">
                    <div class="rodapeLeft">
                        <img src="../../static/img/Icons/Coração.png" alt="imagem Coração">
                        <p>10 de Outubro de 2023</p>
                    </div>
                    <a href="#">Ler mais</a>
                </div>
        </div>
        
    </div>
</div>
<!--Fileira 2-->
<div class="fileira">
    <div class="post">
        <div class="upper">
            <img src="../../static/img/blog/Posts/Post03.png" alt="Imagem Post1">
        </div>
        <div class="lower">
            <h3 id="titulo">Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
            <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad 
                repudiandae autem et magni officiis aut facere tempore nam 
                eligendi quod ut voluptatem iure ut voluptas eveniet.’
            </p>
                <div class="rodapePost">
                    <div class="rodapeLeft">
                        <img src="../../static/img/Icons/Coração.png" alt="imagem Coração">
                        <p>10 de Outubro de 2023</p>
                    </div>
                    <a href="#">Ler mais</a>
                </div>
        </div>
        
    </div>
    <div class="post" id="post2">
        <div class="upper">
            <img src="../../static/img/blog/Posts/Post04.png" alt="Imagem Post">
        </div>
        <div class="lower">
            <h3 id="titulo">Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
            <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad 
                repudiandae autem et magni officiis aut facere tempore nam 
                eligendi quod ut voluptatem iure ut voluptas eveniet.</p>
                <div class="rodapePost">
                    <div class="rodapeLeft">
                        <img src="../../static/img/Icons/Coração.png" alt="imagem Coração">
                        <p>10 de Outubro de 2023</p>
                    </div>
                    <a href="#">Ler mais</a>
                </div>
        </div>
        
    </div>
</div>
<!--Fileira 3-->
<div class="fileira">
    <div class="post">
        <div class="upper">
            <img src="../../static/img/blog/Posts/Post05.png" alt="Imagem Post1">
        </div>
        <div class="lower">
            <h3 id="titulo">Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
            <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad 
                repudiandae autem et magni officiis aut facere tempore nam 
                eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                <div class="rodapePost">
                    <div class="rodapeLeft">
                        <img src="../../static/img/blog/Icons/Coração.png" alt="imagem Coração">
                        <p>10 de Outubro de 2023</p>
                    </div>
                    <a href="#">Ler mais</a>
                </div>
        </div>
    </div>

    <div class="post" id="post2">
        <div class="upper">
            <img src="../../static/img/blog/Posts/Post06.png" alt="Imagem Post">
        </div>
        <div class="lower">
            <h3 id="titulo">Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
            <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad 
                repudiandae autem et magni officiis aut facere tempore nam 
                eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                <div class="rodapePost">
                    <div class="rodapeLeft">
                        <img src="../../static/img/Icons/Coração.png" alt="imagem Coração">
                        <p>10 de Outubro de 2023</p>
                    </div>
                    <a href="#">Ler mais</a>
                </div>
        </div>
    </div>
</div>
<button class="btnCarregarMais">Carregar Mais</button>

</body>
</html>