@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*CSS Nav Bar*/

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    color: #262626;
    padding: 0 20px;
    overflow-x: auto;
}

.logo img {
    height: 150px;
}

.separator {
    height: 40px;
    border-right: 3px solid #262626;
    margin-right: 20px;
}

.nav-links {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    letter-spacing: 0.075em;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: #262626;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .navbar{
        flex-wrap: nowrap;
    }
}

/*Fim CSS Nav Bar*/

.geral{
    display: flex;
    width: 1192px;
    height: 390px;
    margin-top: 60px;
    margin-bottom: 133px;

}

.leftside{
    width: 550px;
    height: 384px;
    margin-left: 97px;
}

.formulario{
    width: 460px;
    height: 320px;

}

.cabeçalho{
    width: 225px;
    height: 40px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;


}

.descricao{
    width: 410px;
    height: 72px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #95A1BB;

}

.assuntoBox{
    width: 460px;
    height: 46px;
    color: #CAD1E1;
    border: 1.5px solid #CAD1E1;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    cursor: pointer;

}

option{
    width: 64px;
    height: 22px;
    font-family: Montserrat;
}

.miniinput{
    width: 200px;
    height: 46px;
    border: 1.5px solid #CAD1E1;
    border-radius: 5px;
    color: black;
    margin-top: 15px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-left: 15px;
    outline: none;

}

.miniinput::placeholder{
    color: #CAD1E1;
    margin-top: 15px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

#inputNome{
    margin-right: 20px;
}

.biginput{
    width: 440px;
    height: 46px;
    color: black;
    border: 1.5px solid #CAD1E1;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 15px;
}

.biginput::placeholder{
    color: #CAD1E1;
    margin-top: 15px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.enviarBtn{
    width: 91px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    border-radius: 90px;
    background-color: #F97B22;
    border: none;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    margin-top: 30px;

}

.rightside{
    width: 642px;
    height: 384px;
    border-radius: 20px;
    margin-left: 90px;
    margin-top: 20px;

}

.mapa{
    width: 642px;
    height: 350px;

}

.endereco{
    width: 409px;
    height: 24px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-top: 10px;
}

button{
    cursor: pointer;
}

/*CSS Footer*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer{
    box-sizing: border-box;
    letter-spacing: 1%;
    width: 100%;
    background-color: #F97B22;
    font-family: 'Montserrat';
    padding: 38px 135px 33px 135px;
    border: 2px solid #F97B22;
}

.footerLogo{
    overflow: hidden;
    width: 216px;
    height: 82px;
}

.footerLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blocoFooter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer_contatos .FAQ .centralAjuda{
    margin-bottom: 13px;
}

.footer_contatos li, .FAQ li, .centralAjuda li{
    display: flex;
    flex-direction: column;
    gap: 13px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #262626;
}

.primeiro{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.footer_contatos li{
    margin-bottom: 13px;
}

.redesSociais{
    display: flex;
    gap: 1.5rem;
    margin: 2px 0 24px 0;
}

.FAQ li, .centralAjuda li{
    margin-bottom: 13px;
}

.copyright{
    margin-left: 40px;
    color: #262626;
}


/*Responsivo*/

@media only screen and (max-width: 1300px) {
    .rightside{
        width: 580px;
    }

    .mapa{
        width: 580px;
    }
}


@media only screen and (max-width: 600px) {
    .geral{
        width: 100vw;
        flex-direction: column;
        padding-bottom: 300px;
    }

    /*Footer Mobile*/
    .footer{
        width: 100vw;
        height: 208px;
        padding: 30px 23px 32px 29px;
    }

    .footerLogo{
        width: 80px;
        height: 24px;

    }

    .footerLogo img{
        width: 80px;
        height: 24px;
    }

    .blocoFooter{
        width: 308px;
        height: 90px;
    }

    .footer_contatos{
        width: 110px;
        height: 71px;
        padding: 5px 0px 5px 0px;
        margin-right: 10px;

    }

    ul{
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }

    .footer_contatos li{
        width: 108px;
        height: 10px;
        font-family: DM Sans;
        font-size: 8px;
        font-weight: 400;
        line-height: 10.42px;
        text-align: left;
        margin-bottom: 8px;

    }

    h3{
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: DM Sans;
        font-size: 10px;
        font-weight: 700;
        line-height: 15.62px;
        text-align: left;
        margin-bottom: 5px;
    }

    .primeiro{
        width: 102px;
        height: 16px;
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 700;
        line-height: 15.62px;
        text-align: left;


    }

    .FAQ{
        width: 68px;
        height: 71px;
        padding: 5px 0px 5px 0px;

    }

    .FAQ li{
        width: 108px;
        height: 10px;
        font-family: DM Sans;
        font-size: 8px;
        font-weight: 400;
        line-height: 10.42px;
        text-align: left;
        margin-bottom: 8px;
    }

    .centralAjuda{
        width: 98px;
        height: 71px;
        padding: 5px 0px 5px 0px;

    }

    .centralAjuda li{
        width: 108px;
        height: 10px;
        font-family: DM Sans;
        font-size: 8px;
        font-weight: 400;
        line-height: 10.42px;
        text-align: left;
        margin-bottom: 8px;
    }

    .copyright{
        display: none;
    }

    .redesSociais{
        width: 88.31px;
        height: 13.5px;
        margin: 0px;
        gap: 12px;
        transform: translateY(20px);
    }

    .redesSociais img{
        width: 13.08px;
        height: 13.5px;
        gap: 0px;
        opacity: 0px;

    }

    /*Fim Footer Mobile*/

    .rightside{
        width: 305px;
        height: 213px;
        margin-left: 29px;
        border-radius: 20px;
        margin-top: 170px;

    }

    .mapa{
        width: 305px;
        height: 169px;
        border-radius: 20px;

    }

    .endereco{
        width: 204px;
        height: 34px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;


    }

    .leftside{
        width: 299px;
        height: 398px;
        margin-left: 35px;
        border-radius: 90px;

    }

    .cabeçalho{
        width: 185px;
        height: 31px;
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 600;
        line-height: 31px;
        text-align: left;

    }

    .descricao{
        width: 291px;
        height: 57px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;


    }

    .formulario{
        width: 299px;
        height: 220px;

    }

    .assuntoBox{
        width: 299px;
        height: 46px;

    }

    .miniinput{
        width: 279px;
        height: 46px;

    }

    .biginput{
        width: 279px;
        height: 46px;

    }

    .enviarBtn{
        width: 91px;
        height: 34px;
        padding: 12px 16px 12px 16px;
        border-radius: 90px;

    }
}
